@import '../../styles/colors.scss';

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 171px;

  @media (max-width: 945px) {
    flex-direction: column;
    margin-top: 89px;
  }
}
